@page
@model PrivacyModel
@using MovieData
@{
    Movie movies = (Movie)ViewData["MovieData"];

    ViewData["Title"] = "Privacy Policy";
}

<html>
<div class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                <th>Crew</th>
                <th>Title</th>
                <th>FullTitle</th>
                <th>Year</th>
                <th>Rank</th>
                <th>ImDbRating</th>
                <th>Title</th>
                </tr>
            </thead>   
    </div>
    <tbody>
        @{
            foreach (Item item in movies.Items)
            {
                    <tr>
                        <td>@item.Crew</td>
                        <td>@item.Title</td>
                        <td>@item.FullTitle</td>
                        <td>@item.Year</td>
                        <td>@item.Rank</td>
                        <td>@item.ImDbRating</td>
                        <td>@item.Title</td>
                        
                    </tr>
                    
                }
            }
        }
    </tbody>
</table>
</html>
