@page
@model PrivacyModel
@using Recipes
@{
    RecipeClass recipe = (RecipeClass)ViewData["RecipeData"];

    ViewData["Title"] = "Privacy Policy";
}
<style>
    .right {
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        height: 500px;
        margin-top: 3%;
    }
    .head{
        font-weight:bold
    }
    .data{
        margin-top:17px;
    }
    .heading{
        color: #0074D9;
        margin-top: 10%;
        margin-left: 15%;
    }
    .rws{
        margin-top: 50px;
        margin-left: 50px;
    }
    .biryani{
            margin-left: 60px;
    margin-top: 100px;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col">
            
            <img class="biryani" src="~/Images/biryani.jpg" width="400px" />
        </div>

        <div class="col right">
            <h2 class="heading">Biryani - Nutritional Values</h2>
            @{
                foreach (Item item in recipe.NutriCalories.Items)
                {
                                    <div class="row rws">
                                    <div class="col">
                                            <div class="data">
                                                <span class="head">Sugar in Grams - </span>
                                                <span class="subject">@item.SugarG</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Fiber in Grams - </span>
                                                <span class="subject">@item.FiberG</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Serving Size in Grams - </span>
                                                <span class="subject">@item.ServingSizeG</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Sodium in mg - </span>
                                                <span class="subject">@item.SodiumMg</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Potassium in mg - </span>
                                                <span class="subject">@item.PotassiumMg</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Fat Saturated in mg - </span>
                                                <span class="subject">@item.FatSaturatedG</span>
                                            </div>
                                    </div>
                                    <div class="col">
                                            <div class="data">
                                                <span class="head">Fat Total in grams - </span>
                                                <span class="subject">@item.FatTotalG</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Calories - </span>
                                                <span class="subject">@item.Calories</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Cholestrol in mg - </span>
                                                <span class="subject">@item.CholesterolMg</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Protein in grams - </span>
                                                <span class="subject">@item.ProteinG</span>
                                            </div>
                                            <div class="data">
                                                <span class="head">Carbohydrates in grams - </span>
                                                <span class="subject">@item.CarbohydratesTotalG</span>
                                            </div>
                                    </div>
                                    </div>
                                    
                                  
            }
            }
        </div>
    </div>
    
</div>