@page
@using EmpSalaryData;
@model CincyPay.Pages.SearchPageModel
@{

    List<EmpSalary> salaryData = (List<EmpSalary>)ViewData["EmpSalary"];
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/SearchPage.css" />
</head>
<body>
<div class="tbl-header">

    <table cellpadding="0" cellspacing="0" border="0">

        <thead>
    <tr>
       
       
        <th>Job Title</th>
        <th>Job code</th>
        <th>Location</th>
        <th>Avg Salaries</th>
        <th>Work Hours</th>
        <th>Salary Plan</th>
        <th>Job Role</th>
        <th>Department</th>
        
    </tr>
    </thead>
        </table>
    </div>


<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
    
    @{
        {
        foreach (EmpSalary empSalary in salaryData)
        {
            <tr>
               
                
                <td>@empSalary.BusinessTitle</td>
                
                <td>@empSalary.JobCode</td>
                <td>@empSalary.Location</td>
                <td>@empSalary.AnnualRt</td>
                <td>@empSalary.StdHours</td>
                <td>@empSalary.SalAdminPlan</td>
                <td>@empSalary.JobTitle</td>
                <td>@empSalary.DeptName</td>
               
            </tr>
        }
        }
    }

    </tbody>
    </table>
</div>
</body>
</html>