@page
@using EmpSalaryData;
@model CincyPay.Pages.SearchPageModel
@{

    List<EmpSalary> salaryData = (List<EmpSalary>)ViewData["EmpSalary"];
}
<table>
    <tr>
       
       
        <th>Job Title</th>
        <th>Job code</th>
        <th>Location</th>
        <th>Salaries</th>
        <th>Work Hours</th>
        <th>Salary Plan</th>
        <th>Job Role</th>
        <th>Department</th>
        
    </tr>
    @{
        foreach (EmpSalary empSalary in salaryData)
        {
            <tr>
               
                
                <td>@empSalary.BusinessTitle</td>
                <td>@empSalary.Deptid</td>
                <td>@empSalary.Jobcode</td>
                <td>@empSalary.Location</td>
                <td>@empSalary.Paygroup</td>
                <td>@empSalary.StdHours</td>
                <td>@empSalary.SalAdminPlan</td>
                <td>@empSalary.Jobtitle</td>
                <td>@empSalary.Deptname</td>
               
            </tr>
        }

    }


</table>