@page
@using EmpSalaryData;
@model CincyPay.Pages.SearchPageModel
@{

    List<EmpSalary> salaryData = (List<EmpSalary>)ViewData["EmpSalary"];
}

<link rel="stylesheet" href="~/css/searchpage.css" type="text/css" />

<div class="tbl-header">

    <table cellpadding="0" cellspacing="0" border="0">

        <thead>
    <tr>
       
       
        <th>Job Title</th>
        <th>Job code</th>
        <th>Location</th>
        <th>$&nbsp;Avg Salaries</th>
        <th>Work Hours</th>
        <th>Salary Plan</th>
        <th>Job Role</th>
        <th>Department</th>
        
    </tr>
    </thead>
        </table>
    </div>


<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>


    
    @{
        foreach (EmpSalary empSalary in salaryData)
        {
                        <tr>
                           
                            
                            <td>@empSalary.BusinessTitle</td>
                            
                            <td>@empSalary.Jobcode</td>
                            <td>@empSalary.Location</td>
                            <td>$&nbsp;@empSalary.AnnualRt</td>
                            <td>@empSalary.StdHours</td>
                            <td>@empSalary.SalAdminPlan</td>
                            <td>@empSalary.Jobtitle</td>
                            <td>@empSalary.Deptname</td>
                           
                        </tr>
        }

    }

    </tbody>
    </table>
</div>